<!DOCTYPE html>
<html lang="en" class="aigis-html">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		<title>Styleguide</title>

		<!-- <script src="https://use.typekit.net/jaj0dkp.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script> -->

		<link href="<%- root %>aigis_assets/styles/highlight/prism.css" rel="stylesheet">
		<link href="<%- root %>aigis_assets/styles/theme.css" rel="stylesheet">
		<link href="../<%- root %>dist/styles/styles.css" rel="stylesheet">

	</head>
<body class="aigis-body">

	<div class="aigis-container" id="styleguide-app">

		<%- include('sidemenu') %>

		<div class="aigis-contents">

			<div class="aigis-contents__body">
				<header class="aigis-timestamp"><%- timestamp %> 🕓</header>
				<%- include('components') %>
			</div>

		</div>

	</div>

	<script src="<%- root %>aigis_assets/scripts/styleguide.js"></script>
	<script src="../<%- root %>dist/scripts/main.min.js"></script>

</body>
</html>
